<div>
    <h2 id="page-heading">
        <span jhiTranslate="futPsiApp.plataforma.home.title">Plataformas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plataforma"
            [routerLink]="['/plataforma/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="futPsiApp.plataforma.home.createLabel">
                Create a new Plataforma
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="plataformas?.length === 0">
        <span jhiTranslate="futPsiApp.plataforma.home.notFound">No plataformas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="plataformas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col" jhiSortBy="logo"><span jhiTranslate="futPsiApp.plataforma.logo">Logo</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="nome"><span jhiTranslate="futPsiApp.plataforma.nome">Nome</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="marca"><span jhiTranslate="futPsiApp.plataforma.marca">Marca</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                [infiniteScrollDistance]="0">
                <tr *ngFor="let plataforma of plataformas ;trackBy: trackId">
                    <td> <img src="{{plataforma.logo}}" alt="{{plataforma.logo}}" width="30"></td>
                    <td><a [routerLink]="['/plataforma', plataforma.id, 'view']">{{ plataforma.id }}</a></td>
                    <td>{{ plataforma.nome }}</td>
                    <td>{{ plataforma.marca }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit" [routerLink]="['/plataforma', plataforma.id, 'edit']"
                                class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(plataforma)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>