<div>
    <h2 id="page-heading">
        <span jhiTranslate="futPsiApp.partida.home.title">Partidas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-partida"
            [routerLink]="['/partida/new']">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="futPsiApp.partida.home.createLabel">
                Create a new Partida
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="partidas?.length === 0">
        <span jhiTranslate="futPsiApp.partida.home.notFound">No partidas found</span>
    </div>
    <div class="container">
        <div class="row">
            <div *ngFor="let partida of partidas ;trackBy: trackId">
                <div class="col ">
                    <div class="row teste">                        
                        <div class="card border-secondary mb-3 cardTeam">
                            <div class="card-header">
                                <img class="imgPretoBranco" src="{{partida.plataforma?.logo }}"
                                    alt="{{partida.plataforma?.nome }}" width="30">
                                {{ partida.mandante?.nome }} x {{ partida.visitante?.nome }}
                            </div>
                            <div class="card-body text-secondary">
                                <h5 class="card-title">{{ partida.local }}</h5>
                                <div id="externa">
                                    <div class="interna">
                                        <div class="row">
                                            <img src="{{ partida.mandante?.logo }}" alt="{{ partida.mandante?.nome }}"
                                                width="50">
                                            <h1>{{ partida.golsMandante }} x {{ partida.golsVisitante }} </h1>
                                            <img src="{{ partida.visitante?.logo }}" alt="{{ partida.visitante?.nome }}"
                                                width="50">
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="card-header alturaRodapeCard">
                                <img class="imgPretoBranco" src="{{partida.campeonato?.logo }}"
                                    alt="{{partida.campeonato?.nome }}" width="50">
                                {{ partida.campeonato?.nome }}
                            </div>
                        </div>

                        <div class="col-1 optionbutton">
                            <button type="submit" [routerLink]="['/partida', partida.id, 'view']"
                                class="btn btn-info btn-sm cardOptions">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>

                            <button type="submit" [routerLink]="['/partida', partida.id, 'edit']"
                                class="btn btn-primary btn-sm cardOptions">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline"></span>
                            </button>

                            <button type="submit" (click)="delete(partida)" class="btn btn-danger btn-sm cardOptions">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline "></span>
                            </button>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgloboesporte.globo.com%2F&amp;src=sdkpreparse"
                                class="fb-xfbml-parse-ignore" class="btn btn-primary btn-sm cardOptions" target="_blank">
                                <img class="imgBranca" src="https://i.ya-webdesign.com/images/facebook-symbol-png-2.png"
                                    alt="{{partida.plataforma?.nome }}" height="15">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>